<div>
    <div class="buttons" style="text-align: center">
        <button type="button" class="btn btn-next" ui-sref="home.first">
            Book Another
        </button>
        <button type="button" class="btn " ng-click="sendMail()">Send Mail & SMS</button>
    </div>
    <div>
        <div>{{userData.firstName + ' will depart for ' + userData.location.to.name + ' on ' +
            userData.journeyDate.depart + 'and return on ' + userData.journeyDate.return}}
        </div>
    </div>
    <div ng-show="emailStatus">Your Boarding pass has been send to your registered email, Please check you inbox/spam
        for further details.
    </div>
</div>